<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="https://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="../public/javascript/application.js"></script>
    <script src="../public/javascript/Thermostat.js"></script>
    <title>Thermostat</title>
  </head>

  <body>
  <section>
    <p>Current Temperature: <span id="current-temp"></span></p>
    <p>Power Saving Mode: <span id="psm"></span></p>
    <button id="up-temp">+</button>
    <button id="down-temp">-</button>
    <button id="reset-temp">Reset</button>
    <button id="power-switch">Power Switch</button>
  </section>
  </body>
</html>
