<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="../jquery.js"></script>
    <script src="../public/javascript/application.js"></script>
    <script src="../public/javascript/Thermostat.js"></script>
    <link rel="stylesheet" type="text/css" href="../style.css" />
    <title>Thermostat</title>
  </head>

  <body>
      <div id="thermostat"
        <section>
          <div id="title">
            <p>Current Temperature: <span id="current-temp"></span></p>
          </div>

          <div id="power">
            <p>Power Saving Mode: <span id="psm"></span></p>
          </div>
            <div id="test">
              <p>
                <button class ="top-buttons" id="up-temp">+</button>
                <button class ="top-buttons" id="down-temp">-</button>
              </p>

            <p>
              <button class="bottom-buttons" id="reset-temp">Reset</button>
              <button class="bottom-buttons" id="power-switch">Power Switch</button>
            </p>
          </div>
        </section>
    </div>
  </body>
</html>
